.container {
    width: 100%;
}
.navigation {
    display: none;
}
.brand-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 120px;
}

.top-section {
    grid-template-columns: repeat(1,1fr);
}
.Tsec-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.Tsec-h1 {
    font-size: 20px;
}

.Tsec-p {
    font-size: 14px;
    width: 50%;
}
.button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 41px;
}
.Tsec-right {
    display: flex;
    justify-content: center;
    margin: 200px auto 0;
}
.logo-box {
    display: none;
}
.logo-nav ul {
    display: flex;
    flex-direction: column;
}
.products {
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
}
.account {
    grid-template-columns: repeat(1,1fr);
}
footer {
    width: 100%;
}