.top-section {
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.Tsec-h1 {
    font-size: 30px;
}
.Tsec-p {
    font-size: 14px;
    width: 50%;
}
.Tsec-right {
    display: flex;
    justify-content: center;
    margin: 200px auto 0;
}
.container {
    width: 100%;
}
.products-container {
    margin: 0 0;
    padding: 0px ;
}
.products {
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center;
    align-items: center; */
    padding-left: 0px;
}
.logo-box {
    display: none;
}
.account {
    grid-template-columns: repeat(2,1fr);
}
/* h5 {
    text-align: center;
    font-size: 18px;
}
.login-form input,
        button {
            padding-left: 10px;
            font-size: 1.3em;
            margin: 5px;
            border: 1px solid lightgray;
            border-radius: 5px;
        }

        .login-form button {
            background-color: pink;
            color: brown;
            margin: 10px;
            padding: 5px;
        }

        .login-container {
            display: flex;
            justify-content: center;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }

        
        .signup-form input,
        button {
            padding-left: 10px;
            font-size: 1.3em;
            margin: 5px;
            border: 1px solid lightgray;
            border-radius: 5px;
        }

        .signup-form button {
            background-color: rgb(133, 252, 252);
            color: blue;
            margin: 10px;
            padding: 5px;
        }

        .signup-container {
            display: flex;
            justify-content: center;
        }

        .signup-form {
            display: flex;
            flex-direction: column;
        } */
footer {
    width: 100%;
}